@import ch.insign.commons.db.MString
@(
        mstring: MString,
        theForm: Form[_],
        formKey: String,
        label: String,
        placeholder: String,
        helperText: String = null,
        width: Integer = 300,
        additionalOptions: Html = Html.apply(""))(implicit handler: views.html.helper.FieldConstructor)

@import ch.insign.cms.models.CMS

@if(mstring != null && mstring.getId != null) {
    <input type="hidden" name="@{formKey + ".id"}" value="@{mstring.getId}" />
}

    @for(lang <- CMS.getConfig.frontendLanguages) {
        <div mstring-lang="@lang">
        @helper.input(
            theForm(formKey + "." + lang),
            'id -> (formKey + "_" + lang),
            'name -> (formKey + "." + lang),
            'class -> "form-control",
            '_label -> label,
            'placeholder -> ""
        ) { (id, name, value, args) =>
            <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args) style="width: @{width}px;display:inline;" />
            <a class="btn btn-primary image-upload" href="#"> Browse </a>
            @if(helperText != null){
                <span class="help-block">@helperText</span>
            }
        }
        </div>
    }
