/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
    padding-top: 70px;
}

/* Activated editbars */
.editbar-on {
    margin-top: 30px;
}
.editbar-on #editbar-65 {
    left: 0;
    position: absolute !important;
    top: 0;
    width: 100%;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
}

.editbar {
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px !important;
}

.editbar ul {
    margin-bottom: 0;
}

.editbar .list-inline>li:first-child {
    color: #428bca;
    padding: 5px 10px;
}

.editbar .list-inline>li {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.editbar .list-inline li.block-info {
    color: #428bca;
    padding: 5px 7px 5px 2px;
}

/* Color states for time and view restrictions */
.editbar .list-inline li.state-active {
    color: #86c351;
}
.editbar .list-inline li.state-inactive {
    color: #ffbf4d;
}
.editbar .list-inline li.state-future {
    color: #489dff;
}
.editbar .list-inline li.state-invisible {
    color: #ff7964;
}
.editbar .list-inline li.state-restricted {
    color: #ff7964;
}

.editbar .list-inline>li form {
    margin: 0;
    padding: 0;
    display: inline;
}

.editbar a,
.editbar button,
.editbar input[type="button"],
.editbar input[type="submit"] {
    margin: 0;
    padding: 5px 7px;
    border-radius: 0;
    border: 0;
    height: 30px;
    display: block;
    background: #428bca;
    color: #fff;
}

.editbar .pull-right {
    border-left: 1px solid #fff;
}

.editbar .pull-right a,
.editbar .pull-right button,
.editbar .pull-right input[type="button"],
.editbar .pull-right input[type="submit"] {
    border: 0;
}

.editbar a:hover,
.editbar button:hover,
.editbar input[type="button"]:hover,
.editbar input[type="submit"]:hover {
    background-color: #3573a9;
    color: #fff;
    text-decoration: none;
}

.editbar .glyphicon {
    font-size: 14px;
    line-height: 1;
}

.editbar .glyphicon-eye-open {
    color: limegreen;
}

/* Editbar dropdown */
.editbar .dropdown-menu {
    border-radius: 0;
    border-color: #428bca;
    border-width: 1px 1px 0 1px;
    padding: 0;
    z-index: 1000;
}
.editbar .dropdown-menu li a {
    background-color: #fff;
    border-bottom: 1px solid #428bca;
    color: #428bca;
    height: auto;
    padding: 7px 20px;
}
.editbar .dropdown-menu li a:hover {
    background-color: #428bca;
    color: #fff;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
  .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
  .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}