@(emailTemplates: java.util.List[ch.insign.cms.models.EmailTemplate])

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.playauth.views.helper._
@import ch.insign.cms.permissions.EmailTemplatePermission
@import ch.insign.cms.models.EmailTemplate
@import ch.insign.cms.models.CMS
@import play.api.i18n.Messages

@*
* Template for listing existing emailTemplates
*@

@emailTemplateLineDescription(emailTemplate: EmailTemplate) = {
    @emailTemplate.getCategory.getEmailTemplateCategoryAsString<br>
    <strong>@emailTemplate.getSubject</strong><br>
    @emailTemplate.getDescription()
}

@layout(new AdminContext()){
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa-envelope"></i>@Messages("backend.mail.templates.title")<span class="badge badge-default">@emailTemplates.size</span>
                    </div>
                    <div class="actions">
                        @hasPermission(EmailTemplatePermission.ADD) {
                            <a href="@ch.insign.cms.controllers.routes.EmailTemplateController.add()" class="btn red">
                                <i class="fa fa-plus"></i> @Messages("backend.newEntry.button")
                            </a>
                        }
                    </div>
                </div>

                <div class="portlet-body">
                    @* Show email templates for current site or for all *@
                    @if(CMS.getSites.getAll.size > 1) {
                        <p>
                            @Messages("navigation.email.templates.list")
                            <a href="@ch.insign.cms.controllers.routes.EmailTemplateController.listForCurrentSite">
                                @Messages("navigation.email.templates.current")
                            </a>|
                            <a href="@ch.insign.cms.controllers.routes.EmailTemplateController.listForAllSites">
                            @Messages("navigation.email.templates.all")
                            </a>|
                        </p>
                    }
                    <table class="table table-striped table-bordered table-hover table-advance">
                        <thead>
                            <tr>
                                <th>@Messages("backend.mail.templates.header.description")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @emailTemplates.groupBy(_.getCategory.name()).map { case (category, emailTemplates) =>
                            @emailTemplates.toList.sortBy(_.getSubject.get()).map { emailTemplate =>
                               <tr class="odd gradeX">
                                    <td>
                                        @hasPermission(EmailTemplatePermission.READ(emailTemplate)) {
                                            <a href="@ch.insign.cms.controllers.routes.EmailTemplateController.edit(emailTemplate.getId)">@emailTemplateLineDescription(emailTemplate)</a>
                                        }.getOrElse{
                                            @emailTemplateLineDescription(emailTemplate)
                                        }
                                        <span class="pull-right">
                                            @hasPermission(EmailTemplatePermission.EDIT(emailTemplate)) {
                                                <a title="Bearbeiten" href="@ch.insign.cms.controllers.routes.EmailTemplateController.edit(emailTemplate.getId)">
                                                    <i class="fa fa-edit"></i>
                                                </a> &nbsp;
                                            }
                                        </span>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

