@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.attributeset.controller.routes.AttributeSetController
@import ch.insign.cms.attributeset.model.AttributeSet

@(sets: List[AttributeSet])

@defining(new AdminContext) { adminContext: AdminContext =>
    @layout(adminContext) {
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list"></i> @Messages("attributesets.link.title")
                </div>
                <div class="actions">
                    <a href="@AttributeSetController.showAdd" class="btn red">
                        <i class="icon-plus"></i> @Messages("attributesets.button.add")
                    </a>
                </div>
            </div>

            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-advance" style="margin-top:20px">
                @for(set <- sets) {
                    <tr>
                        <td>@set.getId</td>
                        <td>@set.getName.get</td>
                        <td>
                            <a href="@AttributeSetController.showEdit(set.getId)" style="margin-right: 8px"> <i class="fa fa-pencil"></i> @Messages("attributes.edit.link") </a>
                            <a href="@AttributeSetController.delete(set.getId)"> <i class="fa fa-trash"></i> @Messages("attributes.delete.link") </a>
                        </td>
                    </tr>
                }
                </table>
            </div>
        </div>
    }
}